body {
	color: lightgray;
	font-family: 'Lato', sans-serif;
}

li {
	list-style-type: none;
}

.cbp-nttrigger:hover {
	cursor: pointer;
	color: limegreen;
}

.cbp-ntopen > .cbp-nttrigger::before {
	content: ">>";
	padding-right: 0.5em;
}

h3, h4 {
	color: cornflowerblue;
	font-size: 40pt;
	border-bottom: 1px solid lightgray;
	margin-bottom: 20pt;
}

h4 {
	color: cornflowerblue;
	font-size: 20pt;
	text-transform: uppercase;
	border-bottom: none;
}

h5 {
	color: darkgray;
}

.js .cbp-ntcontent {
	display: none;

}

.cbp-ntopen > .cbp-ntcontent {
	display: block;
}
